<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dusk</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./css/dusk.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body id="page-top">

  <div class="content" v-bind:class="theme.bg">
    <div class="top">
      <div class="top-img"></div>
    </div>

    <div class="nav-placeholder"></div>

    <nav-bar :links="links" :nav-index="navIndex" :nav-fixed="navFixed" :is-dark-mode="isDarkMode" 
    :theme="theme" :change-theme="changeTheme" :nav-click="(index) => navIndex=index"></nav-bar>

    <div class="container">
      <div class="p-5">

        <div class="row m-3 p-3" v-bind:class="theme.content" id="intro">
          <div class="col col-md-3 d-flex justify-content-center align-items-center">
            <img src="./img/229GKNQ.jpg" class="profile-img">
          </div>

          <div class="col col-md-9 profile-intro">
            <p>Hello world! 我是吳兆軒</p>
            <p>熟悉Javascript和PHP等語言，對於程式設計充滿熱忱</p>
            <p>我的<a href="https://github.com/DuskEVE" style="text-decoration: none;">Github</a></p>
          </div>
        </div>

        <div class="row m-3 p-3" v-bind:class="theme.content" id="skill">
          <h3 class="text-center">-專長-</h3>

          <div class="p-3 col-6 text-center">
            <h3>前端</h3>
            <p>- HTML</p>
            <p>- CSS</p>
            <p>- Bootstrap</p>
            <p>- Javascript</p>
            <p>- JQuery</p>
          </div>
          <div class="p-3 col-6 text-center">
            <h3>後端</h3>
            <p>- PHP</p>
            <p>- MySQL</p>
            <p>- Laravel</p>
            <p>- Git版本控制</p>
          </div>
        </div>

        <div class="row m-3 p-3" v-bind:class="theme.content" id="side-project">
          <h3 class="text-center">-作品集-</h3>

          <side-project v-for="data in datas" v-bind:data="data"></side-project>

        </div>
      </div>
    </div>
  </div>

  <div class="footer bg-dark text-light d-flex justify-content-center align-items-center">
    <span class="m-auto">
      © 2024 Dusk
    </span>
  </div>

  <script>
    let app = Vue.createApp({
      data() {
        return {
          navIndex: 0,
          navFixed: false,
          isDarkMode: false,
          theme: {
            bg: 'bg-light',
            nav: 'bg-primary',
            content: 'bg-secondary-subtle',
            themeBtn: 'btn-dark'
          },
          links: [
            { name: '簡介', href: '#intro' },
            { name: '專長', href: '#skill' },
            { name: '作品集', href: '#side-project' }
          ],
          datas: [
            { name: '萬年曆', img: './img/s-01.png', url: 'https://wda.mackliu.com/s1120415/calendar/', source: 'https://github.com/DuskEVE/PHP-Calendar' },
            { name: '個人遊戲資訊分享網站', img: './img/s-02.png', url: 'https://wda.mackliu.com/s1120415/p01/', source: 'https://github.com/DuskEVE/side_project_01' },
            { name: '網頁乙級-卓越科技大學校園資訊系統', img: './img/b-01.png', url: 'https://wda.mackliu.com/s1120415/web_b01/', source: 'https://github.com/DuskEVE/PHP-B-Q1' },
            { name: '網頁乙級-健康促進網社群平台', img: './img/b-02.png', url: 'https://wda.mackliu.com/s1120415/web_b02/', source: 'https://github.com/DuskEVE/PHP-B-Q2' },
            { name: '網頁乙級-ABC影城', img: './img/b-03.png', url: 'https://wda.mackliu.com/s1120415/web_b03/', source: 'https://github.com/DuskEVE/PHP-B-Q3' },
            { name: '網頁乙級-精品電子商務', img: './img/b-04.png', url: 'https://wda.mackliu.com/s1120415/web_b04/', source: 'https://github.com/DuskEVE/PHP-B-Q4' }
          ]
        }
      },
      methods: {
        changeTheme() {
          if (this.isDarkMode) {
            this.theme.bg = 'bg-light';
            this.theme.nav = 'bg-primary';
            this.theme.content = 'bg-secondary-subtle';
            this.theme.themeBtn = 'btn-dark';
          }
          else {
            this.theme.bg = 'dusk-bg-gray';
            this.theme.nav = 'bg-dark';
            this.theme.content = 'dusk-bg-lightgray text-light';
            this.theme.themeBtn = 'btn-light';
          }
          this.isDarkMode = !this.isDarkMode;

          if (navBar.classList.contains('fixed-top')) this.navFixed = true;
          else this.navFixed = false;
        },
      },

    });

    app.component('side-project', {
      props: ['data'],
      template: `
          <div class="col col-md-4 mb-3">
            <div class="card m-auto" style="width: 18rem;">
              <img :src=data.img class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">{{data.name}}</h5>

                <div class="text-center">
                  <a :href=data.url class="btn btn-primary">瀏覽</a>
                  <a :href=data.source class="btn btn-success">原始碼</a>
                </div>
              </div>
            </div>
          </div>
      `
    });

    app.component('nav-bar', {
      props: ['links', 'navIndex', 'navFixed', 'isDarkMode', 'changeTheme', 'theme', 'navClick'],
      template: `
      <nav class="navbar navbar-expand-lg border-bottom border-body"
      v-bind:class="theme.nav, {'fixed-top':navFixed}" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#page-top">Dusk</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li v-for="(link, index) in links" class="nav-item me-3" v-bind:key="index">
                <a class="nav-link" v-bind:class="{active: navIndex==index}" aria-current="page" v-bind:href=link.href
                  @click="navClick(index)">{{link.name}}</a>
              </li>
            </ul>
            <button class="btn" v-bind:class="theme.themeBtn"
              @click="changeTheme()">
              <span v-if="isDarkMode==false">dark mode</span>
              <span v-else>light mode</span>
            </button>
          </div>
        </div>
      </nav>
      `
    });

    app.mount('body');

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="./js/dusk.js"></script>
</body>

</html>